<h1>登録</h1>

<%= form_with model: @fluits do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "登録したフルーツを見る", fluits_path %>